<div>

    <!-- Binding: -->
    <app-search></app-search>

    <!-- Lifecycle Hooks: -->
    <app-clock></app-clock>

    <!-- @Input: -->
    <app-slogan slogan="Exotic Products!"></app-slogan>
    <app-slogan slogan="Healthy & Cheap!"></app-slogan>

    <!-- @Output: -->
    <app-survey (report)="display($event)"></app-survey>

    <!-- Services & DI: -->
    <app-address></app-address>

    <!-- Pipes: -->
    <app-gift-card></app-gift-card>

    <!-- Attribute Directives: -->
    <app-coupon></app-coupon>

    <!-- Structural Directives: -->
    <app-sales></app-sales>

    <!-- Template Reference Variable: -->
    <app-location></app-location>

</div>